{% extends 'core/base.html' %}
{% block content %}
<div class="mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass fa-2x mb-3 i-color"></i>
           
            <h3>SEO</h3>
            <P class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dignissimos </P>

        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
           
            <h3>Web Design</h3>
            <P class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dignissimos </P>

        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
           
            <h3>Web Development</h3>
            <P class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dignissimos !</P>

        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
           
            <h3>Android</h3>
            <P class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dignissimos </P>

        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-3 i-color"></i>
           
           
            <h3>iOS</h3>
            <P class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dignissimos </P>

        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
           
            <h3>Advertising</h3>
            <P class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dignissimos !</P>

        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-3 i-color"></i>
           
            <h3>Logo Design</h3>
            <P class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dignissimos </P>

        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
           
            <h3>Hosting</h3>
            <P class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dignissimos </P>

        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
           
            <h3>Support</h3>
            <P class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dignissimos !</P>

        </div>
    </div>
</div>
{% endblock content %}